<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>RegisterServlet</servlet-name>
  	<display-name>RegisterServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogoutServlet</servlet-name>
  	<display-name>LogoutServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ProductOperation</servlet-name>
  	<display-name>ProductOperation</display-name>
  	<description></description>
  	<servlet-class>com.servlet.ProductOperation</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddToCart</servlet-name>
  	<display-name>AddToCart</display-name>
  	<description></description>
  	<servlet-class>com.servlet.AddToCart</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>incre_decre</servlet-name>
  	<display-name>incre_decre</display-name>
  	<description></description>
  	<servlet-class>com.servlet.incre_decre</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Delete_FromCart</servlet-name>
  	<display-name>Delete_FromCart</display-name>
  	<description></description>
  	<servlet-class>com.servlet.Delete_FromCart</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>OrderNow</servlet-name>
  	<display-name>OrderNow</display-name>
  	<description></description>
  	<servlet-class>com.servlet.OrderNow</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CheckOut</servlet-name>
  	<display-name>CheckOut</display-name>
  	<description></description>
  	<servlet-class>com.servlet.CheckOut</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteOrder</servlet-name>
  	<display-name>DeleteOrder</display-name>
  	<description></description>
  	<servlet-class>com.servlet.DeleteOrder</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ForgotPassword</servlet-name>
  	<display-name>ForgotPassword</display-name>
  	<description></description>
  	<servlet-class>com.servlet.ForgotPassword</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ValidateOtp</servlet-name>
  	<display-name>ValidateOtp</display-name>
  	<description></description>
  	<servlet-class>com.servlet.ValidateOtp</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdatePassword</servlet-name>
  	<display-name>UpdatePassword</display-name>
  	<description></description>
  	<servlet-class>com.servlet.UpdatePassword</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeliveryDetails</servlet-name>
  	<display-name>DeliveryDetails</display-name>
  	<description></description>
  	<servlet-class>com.servlet.DeliveryDetails</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SupportData</servlet-name>
  	<display-name>SupportData</display-name>
  	<description></description>
  	<servlet-class>com.servlet.SupportData</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>RegisterServlet</servlet-name>
  	<url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogoutServlet</servlet-name>
  	<url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ProductOperation</servlet-name>
  	<url-pattern>/ProductOperation</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddToCart</servlet-name>
  	<url-pattern>/AddToCart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>incre_decre</servlet-name>
  	<url-pattern>/incre_decre</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Delete_FromCart</servlet-name>
  	<url-pattern>/Delete_FromCart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>OrderNow</servlet-name>
  	<url-pattern>/OrderNow</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CheckOut</servlet-name>
  	<url-pattern>/CheckOut</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteOrder</servlet-name>
  	<url-pattern>/DeleteOrder</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ForgotPassword</servlet-name>
  	<url-pattern>/ForgotPassword</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ValidateOtp</servlet-name>
  	<url-pattern>/ValidateOtp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdatePassword</servlet-name>
  	<url-pattern>/UpdatePassword</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeliveryDetails</servlet-name>
  	<url-pattern>/DeliveryDetails</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SupportData</servlet-name>
  	<url-pattern>/SupportData</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
  <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
